.git/
.github/
.gradle/
.idea/
.vscode/
**/.gradle/
**/.DS_Store
**/node_modules
**/build
**/build/reports
**/build/test-results
**/build/tmp
**/out
!services/account-service/build
services/account-service/build/*
!services/account-service/build/libs
services/account-service/build/libs/*
!services/account-service/build/libs/*.jar
!services/automation-scripting-service/build
services/automation-scripting-service/build/*
!services/automation-scripting-service/build/libs
services/automation-scripting-service/build/libs/*
!services/automation-scripting-service/build/libs/*.jar
!services/entity-management-service/build
services/entity-management-service/build/*
!services/entity-management-service/build/libs
services/entity-management-service/build/libs/*
!services/entity-management-service/build/libs/*.jar
!services/game-design-service/build
services/game-design-service/build/*
!services/game-design-service/build/libs
services/game-design-service/build/libs/*
!services/game-design-service/build/libs/*.jar
!services/game-logic-service/build
services/game-logic-service/build/*
!services/game-logic-service/build/libs
services/game-logic-service/build/libs/*
!services/game-logic-service/build/libs/*.jar
!services/game-session-service/build
services/game-session-service/build/*
!services/game-session-service/build/libs
services/game-session-service/build/libs/*
!services/game-session-service/build/libs/*.jar
!services/logging-admin-service/build
services/logging-admin-service/build/*
!services/logging-admin-service/build/libs
services/logging-admin-service/build/libs/*
!services/logging-admin-service/build/libs/*.jar
!services/social-groups-service/build
services/social-groups-service/build/*
!services/social-groups-service/build/libs
services/social-groups-service/build/libs/*
!services/social-groups-service/build/libs/*.jar
!services/spring-cloud-gateway/build
services/spring-cloud-gateway/build/*
!services/spring-cloud-gateway/build/libs
services/spring-cloud-gateway/build/libs/*
!services/spring-cloud-gateway/build/libs/*.jar
!services/tcp-proxy-service/build
services/tcp-proxy-service/build/*
!services/tcp-proxy-service/build/libs
services/tcp-proxy-service/build/libs/*
!services/tcp-proxy-service/build/libs/*.jar
!services/world-management-service/build
services/world-management-service/build/*
!services/world-management-service/build/libs
services/world-management-service/build/libs/*
!services/world-management-service/build/libs/*.jar
