FIREMUD_POSTGRES_USER=firemud
FIREMUD_POSTGRES_PASSWORD=firemud
FIREMUD_POSTGRES_DB=firemud
FIREMUD_POSTGRES_HOST=postgres
FIREMUD_POSTGRES_PORT=5432
FIREMUD_REDIS_HOST=redis
FIREMUD_REDIS_PORT=6379

FIREMUD_GRPC_CERT_CHAIN_PATH=certs/client.crt
FIREMUD_GRPC_PRIVATE_KEY_PATH=certs/client.key
FIREMUD_GRPC_CA_CERT_PATH=certs/ca.crt

SPRING_PROFILES_ACTIVE=dev
