FIREMUD_POSTGRES_USER=firemud
FIREMUD_POSTGRES_PASSWORD=firemud
FIREMUD_POSTGRES_DB=firemud
FIREMUD_POSTGRES_HOST=postgres
FIREMUD_POSTGRES_PORT=5432
FIREMUD_REDIS_COORD_HOST=redis-coord
FIREMUD_REDIS_COORD_PORT=6379
FIREMUD_REDIS_CACHE_HOST=redis-cache
FIREMUD_REDIS_CACHE_PORT=6379

FIREMUD_GRPC_CERT_CHAIN_PATH=certs/client.crt
FIREMUD_GRPC_PRIVATE_KEY_PATH=certs/client.key
FIREMUD_GRPC_CA_CERT_PATH=certs/ca.crt

SPRING_PROFILES_ACTIVE=dev
OTEL_ENDPOINT=http://otel-collector:4317
FLUENT_ELASTICSEARCH_HOST=elasticsearch
FLUENT_ELASTICSEARCH_PORT=9200

# Asset store for published game assets
ASSET_STORE_ENDPOINT=http://minio:9000
ASSET_STORE_BUCKET=firemud-assets
ASSET_STORE_REGION=ap-southeast-2
ASSET_STORE_ACCESS_KEY=minio
ASSET_STORE_SECRET_KEY=minio123
