# Environment configuration
.env

# Java build artifacts
/target/
/.gradle/
**/.gradle/
/build/

# Node.js dependencies
**/node_modules/
**/bin/

# Logs and temporary files
*.log
.DS_Store
certs/

# Gradle Wrapper
**/build/

# Terraform
**/.terraform/
*.tfstate
design/erd/
