openapi: 3.0.3
info:
  title: Entity Management Service API
  description: CRUD operations for characters, NPCs, and inventories
  version: 1.0.0
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
servers:
  - url: https://api.firemud.com
security: []
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  schemas:
    InventoryEntryDto:
      type: object
      properties:
        characterId:
          type: integer
        itemId:
          type: integer
        quantity:
          type: integer
    AddInventoryItemRequest:
      type: object
      properties:
        itemId:
          type: integer
        quantity:
          type: integer
      required:
        - itemId
        - quantity
paths:
  /ping:
    get:
      summary: Health check endpoint
      operationId: ping
      responses:
        '200':
          description: Pong response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: string
                    example: pong
  /characters/{characterId}/inventory:
    get:
      summary: List inventory entries
      operationId: listInventory
      parameters:
        - in: path
          name: characterId
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Inventory list
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/InventoryEntryDto'
    post:
      summary: Add item to inventory
      operationId: addItem
      parameters:
        - in: path
          name: characterId
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddInventoryItemRequest'
      responses:
        '200':
          description: Inventory entry
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/InventoryEntryDto'
  /characters/{characterId}/inventory/{itemId}:
    delete:
      summary: Remove item from inventory
      operationId: removeItem
      parameters:
        - in: path
          name: characterId
          required: true
          schema:
            type: integer
        - in: path
          name: itemId
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object

