openapi: 3.0.3
info:
  title: Entity Management Service API
  description: CRUD operations for characters, NPCs, and inventories
  version: 1.0.0
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
servers:
  - url: https://api.firemud.com
security: []
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  schemas:
    InventoryEntryDto:
      type: object
      properties:
        characterId:
          type: integer
        itemId:
          type: integer
        quantity:
          type: integer
    CharacterDto:
      type: object
      properties:
        id:
          type: integer
        tenantId:
          type: string
        accountId:
          type: integer
        name:
          type: string
        level:
          type: integer
        experience:
          type: integer
        strength:
          type: integer
        agility:
          type: integer
        intelligence:
          type: integer
        stamina:
          type: integer
        health:
          type: integer
        mana:
          type: integer
    CraftingIngredientDto:
      type: object
      properties:
        itemId:
          type: integer
        quantity:
          type: integer
    CraftingRecipeDto:
      type: object
      properties:
        id:
          type: integer
        tenantId:
          type: string
        name:
          type: string
        resultItemId:
          type: integer
        resultQuantity:
          type: integer
        ingredients:
          type: array
          items:
            $ref: '#/components/schemas/CraftingIngredientDto'
    AddInventoryItemRequest:
      type: object
      properties:
        itemId:
          type: integer
        quantity:
          type: integer
      required:
        - itemId
        - quantity
    WearEquipmentItemRequest:
      type: object
      properties:
        itemId:
          type: integer
      required:
        - itemId
    CharacterEquipmentEntryDto:
      type: object
      properties:
        tenantId:
          type: integer
        characterId:
          type: integer
        slot:
          type: string
        itemId:
          type: integer
        itemName:
          type: string
        itemDescription:
          type: string
paths:
  /ping:
    get:
      summary: Health check endpoint
      operationId: ping
      responses:
        '200':
          description: Pong response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: string
                    example: pong
        '400':
          description: Bad request
  /characters/{characterId}/inventory:
    get:
      summary: List inventory entries
      operationId: listInventory
      parameters:
        - in: path
          name: characterId
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Inventory list
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/InventoryEntryDto'
        '400':
          description: Invalid character ID
    post:
      summary: Add item to inventory
      operationId: addItem
      parameters:
        - in: path
          name: characterId
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddInventoryItemRequest'
      responses:
        '200':
          description: Inventory entry
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/InventoryEntryDto'
        '400':
          description: Invalid item data
  /characters/{characterId}/inventory/{itemId}:
    delete:
      summary: Remove item from inventory
      operationId: removeItem
      parameters:
        - in: path
          name: characterId
          required: true
          schema:
            type: integer
        - in: path
          name: itemId
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
        '400':
          description: Invalid item or character ID
  /tenants/{tenantId}/characters/{characterId}/equipment:
    get:
      summary: List equipped items
      operationId: listEquipment
      parameters:
        - in: path
          name: tenantId
          required: true
          schema:
            type: integer
        - in: path
          name: characterId
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Equipment list
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/CharacterEquipmentEntryDto'
        '400':
          description: Invalid tenant or character ID
    post:
      summary: Wear an item
      operationId: wearItem
      parameters:
        - in: path
          name: tenantId
          required: true
          schema:
            type: integer
        - in: path
          name: characterId
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WearEquipmentItemRequest'
      responses:
        '200':
          description: Equipped item
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/CharacterEquipmentEntryDto'
        '400':
          description: Invalid equipment data
  /tenants/{tenantId}/characters/{characterId}/equipment/{slot}:
    delete:
      summary: Remove a worn item
      operationId: removeWornItem
      parameters:
        - in: path
          name: tenantId
          required: true
          schema:
            type: integer
        - in: path
          name: characterId
          required: true
          schema:
            type: integer
        - in: path
          name: slot
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Removed equipment entry
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/CharacterEquipmentEntryDto'
        '400':
          description: Invalid slot or character ID
  /tenants/{tenantId}/accounts/{accountId}/characters:
    get:
      summary: List characters by account
      operationId: listCharactersForAccount
      parameters:
        - in: path
          name: tenantId
          required: true
          schema:
            type: integer
        - in: path
          name: accountId
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Character list
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/CharacterDto'
        '400':
          description: Invalid tenant or account ID
  /crafting/recipes:
    post:
      summary: Create crafting recipe
      operationId: createRecipe
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CraftingRecipeDto'
      responses:
        '200':
          description: Recipe
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/CraftingRecipeDto'
        '400':
          description: Invalid recipe data
  /crafting/recipes/{id}:
    get:
      summary: Get crafting recipe
      operationId: getRecipe
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Recipe
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/CraftingRecipeDto'
        '400':
          description: Recipe not found
