---
openapi: 3.0.3
info:
  title: Game Design Service API
  description: >-
    Tools for editing game assets and publishing versions. Current REST DTOs
    carry tenantId as a String, while the request reader validates positive
    decimal Long values; the string pattern in this contract is therefore the
    exact current wire representation. This is an explicit migration gap from
    the canonical UUID tenant identity and must not be changed without
    converging the DTO, controller, persistence, and authorization boundaries
    together.
  version: 1.0.0
  license:
    name: PolyForm Noncommercial License 1.0.0
    url: https://polyformproject.org/licenses/noncommercial/1.0.0
servers:
  - url: https://api.firemud.com
security:
  - bearerAuth: []
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  schemas:
    GameTemplateDto:
      type: object
      required:
        - tenantId
        - name
        - config
      properties:
        id:
          type: integer
          format: int64
        tenantId:
          type: string
          pattern: '^[1-9][0-9]*$'
        name:
          type: string
        description:
          type: string
          nullable: true
        config:
          type: string
        defaultVersionId:
          type: integer
          format: int64
          nullable: true
        defaultScriptPatchVersion:
          type: string
          nullable: true
        defaultRuntimeFlagsJson:
          type: string
          nullable: true
        templateReferencePhase:
          type: string
          enum:
            - ENFORCED
            - LEGACY
        createdAt:
          type: string
          format: date-time
    GameAssetDto:
      type: object
      properties:
        id:
          type: integer
          format: int64
        tenantId:
          type: string
          pattern: '^[1-9][0-9]*$'
        fileName:
          type: string
        contentType:
          type: string
        data:
          type: string
          format: byte
        createdAt:
          type: string
          format: date-time
    GameTemplatePage:
      type: object
      description: >-
        Spring Data Page<GameTemplateDto> serialization returned by GET
        /templates.
      properties:
        content:
          type: array
          items:
            $ref: '#/components/schemas/GameTemplateDto'
        pageable:
          $ref: '#/components/schemas/Pageable'
        totalElements:
          type: integer
          format: int64
        totalPages:
          type: integer
          format: int32
        last:
          type: boolean
        size:
          type: integer
          format: int32
        number:
          type: integer
          format: int32
        sort:
          $ref: '#/components/schemas/Sort'
        numberOfElements:
          type: integer
          format: int32
        first:
          type: boolean
        empty:
          type: boolean
    Pageable:
      type: object
      properties:
        pageNumber:
          type: integer
          format: int32
        pageSize:
          type: integer
          format: int32
        offset:
          type: integer
          format: int64
        sort:
          $ref: '#/components/schemas/Sort'
        paged:
          type: boolean
        unpaged:
          type: boolean
    Sort:
      type: object
      properties:
        empty:
          type: boolean
        sorted:
          type: boolean
        unsorted:
          type: boolean
paths:
  /ping:
    get:
      summary: Health check endpoint
      operationId: ping
      security: []
      responses:
        '200':
          description: Pong response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: string
                    example: pong
        '400':
          description: Bad request
  /templates:
    post:
      summary: Create game template
      operationId: createTemplate
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GameTemplateDto'
      responses:
        '200':
          description: Created template
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/GameTemplateDto'
        '400':
          description: Invalid template data
    get:
      summary: List game templates
      operationId: listTemplates
      parameters:
        - in: query
          name: tenantId
          required: true
          schema:
            type: string
            pattern: '^[1-9][0-9]*$'
      responses:
        '200':
          description: Template list
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/GameTemplatePage'
        '400':
          description: Invalid tenant ID
  /assets:
    post:
      summary: Upload asset
      operationId: uploadAsset
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
                - tenantId
                - file
              properties:
                tenantId:
                  type: string
                  pattern: '^[1-9][0-9]*$'
                file:
                  type: string
                  format: binary
      responses:
        '200':
          description: Uploaded asset
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/GameAssetDto'
        '400':
          description: Invalid asset data
