openapi: 3.0.3
info:
  title: Social Groups Service API
  description: API for friend lists and guild chat
  version: 1.0.0
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
servers:
  - url: https://api.firemud.com
security: []
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  schemas:
    AddFriendRequest:
      type: object
      properties:
        tenantId:
          type: integer
        accountId:
          type: integer
        friendAccountId:
          type: integer
      required:
        - tenantId
        - accountId
        - friendAccountId
    FriendLinkDto:
      type: object
      properties:
        id:
          type: integer
        tenantId:
          type: integer
        accountId:
          type: integer
        friendAccountId:
          type: integer
        status:
          type: string
        createdAt:
          type: string
          format: date-time
    SendMailRequest:
      type: object
      properties:
        tenantId:
          type: integer
        senderAccountId:
          type: integer
        recipientAccountId:
          type: integer
        subject:
          type: string
        content:
          type: string
      required:
        - tenantId
        - senderAccountId
        - recipientAccountId
        - subject
        - content
    MailMessageDto:
      type: object
      properties:
        id:
          type: integer
        tenantId:
          type: integer
        senderAccountId:
          type: integer
        recipientAccountId:
          type: integer
        subject:
          type: string
        content:
          type: string
        sentAt:
          type: string
          format: date-time
        readAt:
          type: string
          format: date-time
paths:
  /ping:
    get:
      summary: Health check endpoint
      operationId: ping
      responses:
        '200':
          description: Pong response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: string
                    example: pong
  /friends:
    post:
      summary: Create a friend link
      operationId: addFriend
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddFriendRequest'
      responses:
        '200':
          description: Friend link created
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/FriendLinkDto'
        '400':
          description: Invalid request
  /mail:
    post:
      summary: Send in-game mail
      operationId: sendMail
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SendMailRequest'
      responses:
        '200':
          description: Mail sent
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/MailMessageDto'
