global:
  postgresql:
    auth:
      postgresPassword: ${postgres_superuser_password}
      username: ${postgres_app_username}
      password: ${postgres_app_password}
      database: ${postgres_database}
architecture: replication
primary:
  persistence:
    enabled: true
    size: 10Gi
readReplicas:
  persistence:
    enabled: true
    size: 10Gi
