openapi: 3.0.3
info:
  title: Logging & Admin Service API
  description: Operator-facing moderation, cutover, and runtime-control APIs
  version: 1.0.0
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
servers:
  - url: https://api.firemud.com
security: []
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  schemas:
    ResultStatus:
      type: string
      enum: [SUCCESS, ERROR]
    ErrorDetail:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
    ApiResponseString:
      type: object
      properties:
        status:
          $ref: '#/components/schemas/ResultStatus'
        data:
          type: string
        error:
          $ref: '#/components/schemas/ErrorDetail'
    ApplyModerationActionRequest:
      type: object
      properties:
        tenantId:
          type: integer
        accountId:
          type: integer
        sessionId:
          type: integer
        action:
          type: string
        reason:
          type: string
      required: [tenantId, accountId, sessionId, action]
    ModerationActionDto:
      type: object
      properties:
        id:
          type: integer
        tenantId:
          type: integer
        accountId:
          type: integer
        action:
          type: string
        reason:
          type: string
        createdAt:
          type: string
          format: date-time
        expiresAt:
          type: string
          format: date-time
          nullable: true
    ToggleFeatureFlagRequest:
      type: object
      properties:
        tenantId:
          type: integer
        name:
          type: string
        enabled:
          type: boolean
      required: [tenantId, name, enabled]
    FeatureFlagDto:
      type: object
      properties:
        id:
          type: integer
          nullable: true
        tenantId:
          type: integer
        name:
          type: string
        enabled:
          type: boolean
    BuiltInCommandAliasValidationDto:
      type: object
      properties:
        supported:
          type: boolean
        normalizedAlias:
          type: string
          nullable: true
    GameplayCommandStatusDto:
      type: object
      properties:
        commandId:
          type: string
        tenantId:
          type: integer
        gameInstanceId:
          type: integer
        sessionId:
          type: integer
        accountId:
          type: integer
          nullable: true
        characterId:
          type: integer
          nullable: true
        commandName:
          type: string
        sanitizedCommandText:
          type: string
        requiresSoloTick:
          type: boolean
        executionOutcome:
          type: string
        gameplayResult:
          type: string
        acceptedAt:
          type: string
          format: date-time
          nullable: true
        stagedAt:
          type: string
          format: date-time
          nullable: true
        completedAt:
          type: string
          format: date-time
          nullable: true
        lastAttemptAt:
          type: string
          format: date-time
          nullable: true
        attemptCount:
          type: integer
        failureCode:
          type: string
          nullable: true
        failureMessage:
          type: string
          nullable: true
        sourceType:
          type: string
          nullable: true
        automationDispatchId:
          type: string
          nullable: true
        automationWorkItemId:
          type: string
          nullable: true
        scriptId:
          type: string
          nullable: true
        scriptPatchVersion:
          type: string
          nullable: true
        pluginId:
          type: string
          nullable: true
        pluginVersionId:
          type: string
          nullable: true
        targetEntityId:
          type: string
          nullable: true
        regionId:
          type: string
          nullable: true
        regionEpoch:
          type: integer
          nullable: true
        dueTickId:
          type: integer
          nullable: true
        enqueueSeq:
          type: integer
          nullable: true
        playableStateScope:
          type: string
        worldSlug:
          type: string
          nullable: true
        realmSlug:
          type: string
          nullable: true
        pointerVersion:
          type: integer
          nullable: true
        originSourceKind:
          type: string
          nullable: true
        originSourceState:
          type: string
          nullable: true
        originSourceOrdinal:
          type: integer
          nullable: true
        originSourceDueTickId:
          type: integer
          nullable: true
        originSourceDueAtMs:
          type: integer
          nullable: true
        queueSourceKind:
          type: string
          nullable: true
        queueSourceState:
          type: string
          nullable: true
        queueSourceOrdinal:
          type: integer
          nullable: true
        queueSourceDueTickId:
          type: integer
          nullable: true
        queueSourceDueAtMs:
          type: integer
          nullable: true
        remoteCoordinatorId:
          type: string
          nullable: true
        remoteFollowupId:
          type: string
          nullable: true
        remoteState:
          type: string
          nullable: true
        remoteResultOutcome:
          type: string
          nullable: true
        remoteResultPayloadJson:
          type: string
          nullable: true
        remoteResultObservedAt:
          type: string
          format: date-time
          nullable: true
        publication:
          $ref: '#/components/schemas/GameplayCommandStatusScriptPatchPublicationLinkDto'
        remoteResultCommandId:
          type: string
          nullable: true
        remoteResultErrorCode:
          type: string
          nullable: true
        remoteResultMessage:
          type: string
          nullable: true
        pluginPublication:
          $ref: '#/components/schemas/GameplayCommandStatusPluginPublicationLinkDto'
        remoteOriginGameInstanceId:
          type: integer
          nullable: true
        remoteOriginRegionId:
          type: string
          nullable: true
        remoteOriginRegionEpoch:
          type: integer
          nullable: true
        remoteTargetGameInstanceId:
          type: integer
          nullable: true
        remoteTargetRegionId:
          type: string
          nullable: true
        remoteTargetRegionEpoch:
          type: integer
          nullable: true
        remoteOriginDeadlineRegionEpoch:
          type: integer
          nullable: true
        remoteOriginDeadlineTickId:
          type: integer
          nullable: true
        remoteLateResultPolicy:
          type: string
          nullable: true
        remoteTargetCommandExecutionOutcome:
          type: string
          nullable: true
        remoteTargetCommandGameplayResult:
          type: string
          nullable: true
        remoteFollowupStatus:
          type: string
          nullable: true
        remoteFollowupPayloadKind:
          type: string
          nullable: true
        remoteFollowupRequestedCommand:
          type: string
          nullable: true
        remoteFollowupRequiresSoloTick:
          type: boolean
        remoteFollowupOriginSourceKind:
          type: string
          nullable: true
        remoteFollowupOriginSourceState:
          type: string
          nullable: true
        remoteFollowupOriginSourceOrdinal:
          type: integer
          nullable: true
        remoteFollowupOriginSourceDueTickId:
          type: integer
          nullable: true
        remoteFollowupOriginSourceDueAtMs:
          type: integer
          nullable: true
        remoteTargetEntityId:
          type: string
          nullable: true
        remoteFollowupEffectKey:
          type: string
          nullable: true
        remoteFollowupFailureCode:
          type: string
          nullable: true
        remoteFollowupFailureMessage:
          type: string
          nullable: true
        remoteFollowupEventType:
          type: string
          nullable: true
        remoteFollowupEventSchemaVersion:
          type: string
          nullable: true
        remoteFollowupScriptEventId:
          type: string
          nullable: true
        remoteFollowupTriggerMode:
          type: string
          nullable: true
        remoteFollowupClaimTargetAggregate:
          type: string
          nullable: true
        currentRuntimeRegionId:
          type: string
          nullable: true
        currentRuntimeRegionEpoch:
          type: integer
          nullable: true
        currentRuntimeGameInstanceId:
          type: integer
          nullable: true
        currentRuntimePlayableStateScope:
          type: string
        currentRuntimeWorldSlug:
          type: string
          nullable: true
        currentRuntimeRealmSlug:
          type: string
          nullable: true
        currentRuntimePointerVersion:
          type: integer
          nullable: true
        currentRuntimeRoutingBundleStale:
          type: boolean
    GameplayCommandStatusScriptPatchPublicationLinkDto:
      type: object
      properties:
        scriptPatchVersion:
          type: string
          nullable: true
        versionId:
          type: integer
          nullable: true
        baseVersionId:
          type: integer
          nullable: true
        publicationState:
          type: string
        lastChangedAt:
          type: string
          format: date-time
          nullable: true
        lookupErrorCode:
          type: string
          nullable: true
        lookupErrorMessage:
          type: string
          nullable: true
    GameplayCommandStatusPluginPublicationLinkDto:
      type: object
      properties:
        pluginVersionId:
          type: string
          nullable: true
        publicationId:
          type: integer
          nullable: true
        publicationState:
          type: string
        statusReason:
          type: string
          nullable: true
        lastChangedAt:
          type: string
          format: date-time
          nullable: true
        lookupErrorCode:
          type: string
          nullable: true
        lookupErrorMessage:
          type: string
          nullable: true
    RemoteCommandCoordinatorDto:
      type: object
      properties:
        coordinatorId:
          type: string
        tenantId:
          type: integer
        commandId:
          type: string
          nullable: true
        followupId:
          type: string
          nullable: true
        originGameInstanceId:
          type: integer
        originRegionId:
          type: string
          nullable: true
        originRegionEpoch:
          type: integer
        targetGameInstanceId:
          type: integer
        targetRegionId:
          type: string
          nullable: true
        targetRegionEpoch:
          type: integer
        targetDueTickId:
          type: integer
          nullable: true
        originDeadlineRegionEpoch:
          type: integer
          nullable: true
        originDeadlineTickId:
          type: integer
          nullable: true
        state:
          type: string
          nullable: true
        lateResultPolicy:
          type: string
          nullable: true
        executionOutcome:
          type: string
          nullable: true
        gameplayResult:
          type: string
          nullable: true
        updatedAt:
          type: string
          format: date-time
          nullable: true
        followupStatus:
          type: string
          nullable: true
        followupClaimedTickBatchId:
          type: integer
          nullable: true
        latestResultOutcome:
          type: string
          nullable: true
        latestResultPayloadJson:
          type: string
          nullable: true
        latestResultObservedAt:
          type: string
          format: date-time
          nullable: true
        followupClaimOrdinal:
          type: integer
          nullable: true
        scriptPatchVersion:
          type: string
          nullable: true
        pluginId:
          type: string
          nullable: true
        pluginVersionId:
          type: string
          nullable: true
        publication:
          $ref: '#/components/schemas/RemoteCommandCoordinatorScriptPatchPublicationLinkDto'
        playableStateScope:
          type: string
        worldSlug:
          type: string
          nullable: true
        realmSlug:
          type: string
          nullable: true
        pointerVersion:
          type: integer
          nullable: true
        automationDispatchId:
          type: string
          nullable: true
        automationWorkItemId:
          type: string
          nullable: true
        scriptId:
          type: string
          nullable: true
        followupPayloadKind:
          type: string
          nullable: true
        followupRequestedCommand:
          type: string
          nullable: true
        latestResultCommandId:
          type: string
          nullable: true
        latestResultErrorCode:
          type: string
          nullable: true
        targetCommandId:
          type: string
          nullable: true
        targetCommandExecutionOutcome:
          type: string
          nullable: true
        targetCommandGameplayResult:
          type: string
          nullable: true
        latestResultMessage:
          type: string
          nullable: true
        pluginPublication:
          $ref: '#/components/schemas/RemoteCommandCoordinatorPluginPublicationLinkDto'
        followupRequiresSoloTick:
          type: boolean
        followupOriginSourceKind:
          type: string
          nullable: true
        followupOriginSourceState:
          type: string
          nullable: true
        followupOriginSourceOrdinal:
          type: integer
          nullable: true
        followupOriginSourceDueTickId:
          type: integer
          nullable: true
        followupOriginSourceDueAtMs:
          type: integer
          nullable: true
        targetEntityId:
          type: string
          nullable: true
        followupEffectKey:
          type: string
          nullable: true
        followupFailureCode:
          type: string
          nullable: true
        followupFailureMessage:
          type: string
          nullable: true
        followupEventType:
          type: string
          nullable: true
        followupEventSchemaVersion:
          type: string
          nullable: true
        followupScriptEventId:
          type: string
          nullable: true
        followupTriggerMode:
          type: string
          nullable: true
        followupReadSnapshotToken:
          type: string
          nullable: true
        followupEventPayloadJson:
          type: string
          nullable: true
        followupClaimTargetAggregate:
          type: string
          nullable: true
        currentOriginRuntimeRegionId:
          type: string
          nullable: true
        currentOriginRuntimeRegionEpoch:
          type: integer
          nullable: true
        currentTargetRuntimeRegionId:
          type: string
          nullable: true
        currentTargetRuntimeRegionEpoch:
          type: integer
          nullable: true
        followupQueueSourceKind:
          type: string
          nullable: true
        followupQueueSourceState:
          type: string
          nullable: true
        followupQueueSourceOrdinal:
          type: integer
          nullable: true
        followupQueueSourceDueTickId:
          type: integer
          nullable: true
        followupQueueSourceDueAtMs:
          type: integer
          nullable: true
        currentOriginRuntimeGameInstanceId:
          type: integer
          nullable: true
        currentTargetRuntimeGameInstanceId:
          type: integer
          nullable: true
        currentOriginRuntimePlayableStateScope:
          type: string
        currentOriginRuntimeWorldSlug:
          type: string
          nullable: true
        currentOriginRuntimeRealmSlug:
          type: string
          nullable: true
        currentOriginRuntimePointerVersion:
          type: integer
          nullable: true
        currentTargetRuntimePlayableStateScope:
          type: string
        currentTargetRuntimeWorldSlug:
          type: string
          nullable: true
        currentTargetRuntimeRealmSlug:
          type: string
          nullable: true
        currentTargetRuntimePointerVersion:
          type: integer
          nullable: true
        originRoutingBundleStale:
          type: boolean
        targetRoutingBundleStale:
          type: boolean
    RemoteCommandCoordinatorScriptPatchPublicationLinkDto:
      type: object
      properties:
        scriptPatchVersion:
          type: string
          nullable: true
        versionId:
          type: integer
          nullable: true
        baseVersionId:
          type: integer
          nullable: true
        publicationState:
          type: string
        lastChangedAt:
          type: string
          format: date-time
          nullable: true
        lookupErrorCode:
          type: string
          nullable: true
        lookupErrorMessage:
          type: string
          nullable: true
    RemoteCommandCoordinatorPluginPublicationLinkDto:
      type: object
      properties:
        pluginVersionId:
          type: string
          nullable: true
        publicationId:
          type: integer
          nullable: true
        publicationState:
          type: string
        statusReason:
          type: string
          nullable: true
        lastChangedAt:
          type: string
          format: date-time
          nullable: true
        lookupErrorCode:
          type: string
          nullable: true
        lookupErrorMessage:
          type: string
          nullable: true
    RemoteFollowupDto:
      type: object
      properties:
        followupId:
          type: string
        tenantId:
          type: integer
        originGameInstanceId:
          type: integer
        originRegionId:
          type: string
          nullable: true
        originRegionEpoch:
          type: integer
        targetGameInstanceId:
          type: integer
        targetRegionId:
          type: string
          nullable: true
        targetRegionEpoch:
          type: integer
        dueTickId:
          type: integer
          nullable: true
        effectKey:
          type: string
          nullable: true
        targetEntityId:
          type: string
          nullable: true
        status:
          type: string
          nullable: true
        claimedTickBatchId:
          type: string
          nullable: true
        payloadJson:
          type: string
          nullable: true
        failureCode:
          type: string
          nullable: true
        failureMessage:
          type: string
          nullable: true
        createdAt:
          type: string
          format: date-time
          nullable: true
        updatedAt:
          type: string
          format: date-time
          nullable: true
        claimOrdinal:
          type: integer
          nullable: true
        scriptPatchVersion:
          type: string
          nullable: true
        pluginId:
          type: string
          nullable: true
        pluginVersionId:
          type: string
          nullable: true
        publication:
          $ref: '#/components/schemas/RemoteFollowupScriptPatchPublicationLinkDto'
        playableStateScope:
          type: string
        worldSlug:
          type: string
          nullable: true
        realmSlug:
          type: string
          nullable: true
        pointerVersion:
          type: integer
          nullable: true
        commandId:
          type: string
          nullable: true
        automationDispatchId:
          type: string
          nullable: true
        automationWorkItemId:
          type: string
          nullable: true
        scriptId:
          type: string
          nullable: true
        payloadKind:
          type: string
          nullable: true
        requestedCommand:
          type: string
          nullable: true
        targetCommandId:
          type: string
          nullable: true
        targetCommandExecutionOutcome:
          type: string
          nullable: true
        targetCommandGameplayResult:
          type: string
          nullable: true
        pluginPublication:
          $ref: '#/components/schemas/RemoteFollowupPluginPublicationLinkDto'
        requiresSoloTick:
          type: boolean
        originSourceKind:
          type: string
          nullable: true
        originSourceState:
          type: string
          nullable: true
        originSourceOrdinal:
          type: integer
          nullable: true
        originSourceDueTickId:
          type: integer
          nullable: true
        originSourceDueAtMs:
          type: integer
          nullable: true
        originDeadlineRegionEpoch:
          type: integer
          nullable: true
        originDeadlineTickId:
          type: integer
          nullable: true
        lateResultPolicy:
          type: string
          nullable: true
        eventType:
          type: string
          nullable: true
        eventSchemaVersion:
          type: string
          nullable: true
        scriptEventId:
          type: string
          nullable: true
        triggerMode:
          type: string
          nullable: true
        readSnapshotToken:
          type: string
          nullable: true
        eventPayloadJson:
          type: string
          nullable: true
        claimTargetAggregate:
          type: string
          nullable: true
        currentOriginRuntimeRegionId:
          type: string
          nullable: true
        currentOriginRuntimeRegionEpoch:
          type: integer
          nullable: true
        currentTargetRuntimeRegionId:
          type: string
          nullable: true
        currentTargetRuntimeRegionEpoch:
          type: integer
          nullable: true
        queueSourceKind:
          type: string
          nullable: true
        queueSourceState:
          type: string
          nullable: true
        queueSourceOrdinal:
          type: integer
          nullable: true
        queueSourceDueTickId:
          type: integer
          nullable: true
        queueSourceDueAtMs:
          type: integer
          nullable: true
        currentOriginRuntimeGameInstanceId:
          type: integer
          nullable: true
        currentTargetRuntimeGameInstanceId:
          type: integer
          nullable: true
        currentOriginRuntimePlayableStateScope:
          type: string
        currentOriginRuntimeWorldSlug:
          type: string
          nullable: true
        currentOriginRuntimeRealmSlug:
          type: string
          nullable: true
        currentOriginRuntimePointerVersion:
          type: integer
          nullable: true
        currentTargetRuntimePlayableStateScope:
          type: string
        currentTargetRuntimeWorldSlug:
          type: string
          nullable: true
        currentTargetRuntimeRealmSlug:
          type: string
          nullable: true
        currentTargetRuntimePointerVersion:
          type: integer
          nullable: true
        originRoutingBundleStale:
          type: boolean
        targetRoutingBundleStale:
          type: boolean
    RemoteFollowupScriptPatchPublicationLinkDto:
      type: object
      properties:
        scriptPatchVersion:
          type: string
          nullable: true
        versionId:
          type: integer
          nullable: true
        baseVersionId:
          type: integer
          nullable: true
        publicationState:
          type: string
        lastChangedAt:
          type: string
          format: date-time
          nullable: true
        lookupErrorCode:
          type: string
          nullable: true
        lookupErrorMessage:
          type: string
          nullable: true
    RemoteFollowupPluginPublicationLinkDto:
      type: object
      properties:
        pluginVersionId:
          type: string
          nullable: true
        publicationId:
          type: integer
          nullable: true
        publicationState:
          type: string
        statusReason:
          type: string
          nullable: true
        lastChangedAt:
          type: string
          format: date-time
          nullable: true
        lookupErrorCode:
          type: string
          nullable: true
        lookupErrorMessage:
          type: string
          nullable: true
    RemoteFollowupResultDto:
      type: object
      properties:
        resultId:
          type: string
        tenantId:
          type: integer
        coordinatorId:
          type: string
          nullable: true
        followupId:
          type: string
          nullable: true
        originRegionId:
          type: string
          nullable: true
        originRegionEpoch:
          type: integer
          nullable: true
        targetRegionId:
          type: string
          nullable: true
        targetRegionEpoch:
          type: integer
          nullable: true
        outcome:
          type: string
          nullable: true
        resultPayloadJson:
          type: string
          nullable: true
        observedAt:
          type: string
          format: date-time
          nullable: true
        scriptPatchVersion:
          type: string
          nullable: true
        pluginId:
          type: string
          nullable: true
        pluginVersionId:
          type: string
          nullable: true
        publication:
          $ref: '#/components/schemas/RemoteFollowupResultScriptPatchPublicationLinkDto'
        playableStateScope:
          type: string
        worldSlug:
          type: string
          nullable: true
        realmSlug:
          type: string
          nullable: true
        pointerVersion:
          type: integer
          nullable: true
        commandId:
          type: string
          nullable: true
        automationDispatchId:
          type: string
          nullable: true
        automationWorkItemId:
          type: string
          nullable: true
        scriptId:
          type: string
          nullable: true
        resultCommandId:
          type: string
          nullable: true
        resultErrorCode:
          type: string
          nullable: true
        resultCommandExecutionOutcome:
          type: string
          nullable: true
        resultCommandGameplayResult:
          type: string
          nullable: true
        resultMessage:
          type: string
          nullable: true
        pluginPublication:
          $ref: '#/components/schemas/RemoteFollowupResultPluginPublicationLinkDto'
        originDeadlineRegionEpoch:
          type: integer
          nullable: true
        originDeadlineTickId:
          type: integer
          nullable: true
        lateResultPolicy:
          type: string
          nullable: true
        originGameInstanceId:
          type: string
          nullable: true
        targetGameInstanceId:
          type: string
          nullable: true
        targetEntityId:
          type: string
          nullable: true
        effectKey:
          type: string
          nullable: true
        payloadKind:
          type: string
          nullable: true
        requiresSoloTick:
          type: boolean
        originSourceKind:
          type: string
          nullable: true
        originSourceState:
          type: string
          nullable: true
        originSourceOrdinal:
          type: integer
          nullable: true
        originSourceDueTickId:
          type: integer
          nullable: true
        originSourceDueAtMs:
          type: integer
          nullable: true
        failureCode:
          type: string
          nullable: true
        failureMessage:
          type: string
          nullable: true
        eventType:
          type: string
          nullable: true
        eventSchemaVersion:
          type: string
          nullable: true
        scriptEventId:
          type: string
          nullable: true
        triggerMode:
          type: string
          nullable: true
        readSnapshotToken:
          type: string
          nullable: true
        eventPayloadJson:
          type: string
          nullable: true
        claimTargetAggregate:
          type: string
          nullable: true
        currentOriginRuntimeRegionId:
          type: string
          nullable: true
        currentOriginRuntimeRegionEpoch:
          type: integer
          nullable: true
        currentTargetRuntimeRegionId:
          type: string
          nullable: true
        currentTargetRuntimeRegionEpoch:
          type: integer
          nullable: true
        queueSourceKind:
          type: string
          nullable: true
        queueSourceState:
          type: string
          nullable: true
        queueSourceOrdinal:
          type: integer
          nullable: true
        queueSourceDueTickId:
          type: integer
          nullable: true
        queueSourceDueAtMs:
          type: integer
          nullable: true
        currentOriginRuntimeGameInstanceId:
          type: string
          nullable: true
        currentTargetRuntimeGameInstanceId:
          type: string
          nullable: true
        currentOriginRuntimePlayableStateScope:
          type: string
        currentOriginRuntimeWorldSlug:
          type: string
          nullable: true
        currentOriginRuntimeRealmSlug:
          type: string
          nullable: true
        currentOriginRuntimePointerVersion:
          type: integer
          nullable: true
        currentTargetRuntimePlayableStateScope:
          type: string
        currentTargetRuntimeWorldSlug:
          type: string
          nullable: true
        currentTargetRuntimeRealmSlug:
          type: string
          nullable: true
        currentTargetRuntimePointerVersion:
          type: integer
          nullable: true
        originRoutingBundleStale:
          type: boolean
        targetRoutingBundleStale:
          type: boolean
    RemoteFollowupResultScriptPatchPublicationLinkDto:
      type: object
      properties:
        scriptPatchVersion:
          type: string
          nullable: true
        versionId:
          type: integer
          nullable: true
        baseVersionId:
          type: integer
          nullable: true
        publicationState:
          type: string
        lastChangedAt:
          type: string
          format: date-time
          nullable: true
        lookupErrorCode:
          type: string
          nullable: true
        lookupErrorMessage:
          type: string
          nullable: true
    RemoteFollowupResultPluginPublicationLinkDto:
      type: object
      properties:
        pluginVersionId:
          type: string
          nullable: true
        publicationId:
          type: integer
          nullable: true
        publicationState:
          type: string
        statusReason:
          type: string
          nullable: true
        lastChangedAt:
          type: string
          format: date-time
          nullable: true
        lookupErrorCode:
          type: string
          nullable: true
        lookupErrorMessage:
          type: string
          nullable: true
    QueryLogsRequest:
      type: object
      properties:
        tenantId:
          type: integer
        filter:
          type: string
      required: [tenantId]
    SagaInstanceDto:
      type: object
      properties:
        id:
          type: integer
        sagaName:
          type: string
        state:
          type: string
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
    SagaStepDto:
      type: object
      properties:
        id:
          type: integer
        instanceId:
          type: integer
        name:
          type: string
        status:
          type: string
        attempt:
          type: integer
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
    AdmissionPointerDto:
      type: object
      properties:
        worldSlug:
          type: string
        worldDisplayName:
          type: string
        realmSlug:
          type: string
        realmDisplayName:
          type: string
        tenantId:
          type: integer
        gameInstanceId:
          type: integer
        pointerVersion:
          type: integer
        visible:
          type: boolean
        publicProductionRealm:
          type: boolean
        requiresCharacterSelection:
          type: boolean
        stateScope:
          type: string
        characterCreationPolicy:
          type: string
        actorPrincipal:
          type: string
        reason:
          type: string
        controlPlaneRequestId:
          type: string
        preparedVersionUpgradeId:
          type: string
          nullable: true
        occurredAt:
          type: string
          format: date-time
          nullable: true
    SetAdmissionPointerRequest:
      type: object
      properties:
        worldSlug:
          type: string
        worldDisplayName:
          type: string
        realmSlug:
          type: string
        realmDisplayName:
          type: string
        tenantId:
          type: integer
        gameInstanceId:
          type: integer
        visible:
          type: boolean
        requiresCharacterSelection:
          type: boolean
        stateScope:
          type: string
        characterCreationPolicy:
          type: string
        reason:
          type: string
        controlPlaneRequestId:
          type: string
        expectedPointerVersion:
          type: integer
          nullable: true
        preparedVersionUpgradeId:
          type: string
          nullable: true
      required:
        [worldSlug, worldDisplayName, realmSlug, realmDisplayName, tenantId, gameInstanceId, stateScope, characterCreationPolicy]
    PrepareVersionUpgradeRequest:
      type: object
      properties:
        tenantId:
          type: integer
        sourceGameInstanceId:
          type: integer
        targetVersionId:
          type: integer
        controlPlaneRequestId:
          type: string
      required: [tenantId, sourceGameInstanceId, targetVersionId, controlPlaneRequestId]
    ExecutePreparedVersionCutoverRequest:
      type: object
      properties:
        worldSlug:
          type: string
        realmSlug:
          type: string
        tenantId:
          type: integer
        targetGameInstanceId:
          type: integer
        preparedVersionUpgradeId:
          type: string
        reason:
          type: string
        controlPlaneRequestId:
          type: string
        expectedPointerVersion:
          type: integer
          nullable: true
      required: [worldSlug, realmSlug, tenantId, targetGameInstanceId, preparedVersionUpgradeId]
    CutoverParticipantResultDto:
      type: object
      properties:
        participant:
          type: string
        result:
          type: string
        reasons:
          type: array
          items:
            type: string
        stateClassesChecked:
          type: array
          items:
            type: string
        checkedFamilies:
          type: array
          items:
            type: string
        hasS2Rows:
          type: boolean
    PreparedVersionUpgradeDto:
      type: object
      properties:
        preparationId:
          type: string
        tenantId:
          type: integer
        sourceGameInstanceId:
          type: integer
        sourceVersionId:
          type: integer
        targetVersionId:
          type: integer
        targetLaunchDescriptorId:
          type: integer
        remapSetId:
          type: string
          nullable: true
        result:
          type: string
        reasons:
          type: array
          items:
            type: string
        checkedParticipants:
          type: array
          items:
            type: string
        checkedAt:
          type: string
          format: date-time
          nullable: true
        participantResults:
          type: array
          items:
            $ref: '#/components/schemas/CutoverParticipantResultDto'
        controlPlaneRequestId:
          type: string
        executedTargetGameInstanceId:
          type: integer
          nullable: true
        executedPointerVersion:
          type: integer
          nullable: true
        executedAt:
          type: string
          format: date-time
          nullable: true
        executionControlPlaneRequestId:
          type: string
          nullable: true
    InstanceCutoverCompatibilityDto:
      type: object
      properties:
        result:
          type: string
        reasons:
          type: array
          items:
            type: string
        checkedParticipants:
          type: array
          items:
            type: string
        checkedAt:
          type: string
          format: date-time
          nullable: true
        remapSetId:
          type: string
          nullable: true
        participantResults:
          type: array
          items:
            $ref: '#/components/schemas/CutoverParticipantResultDto'
    ScriptPatchPublicationLinkDto:
      type: object
      properties:
        scriptPatchVersion:
          type: string
        versionId:
          type: integer
          nullable: true
        baseVersionId:
          type: integer
          nullable: true
        publicationState:
          type: string
        lastChangedAt:
          type: string
          format: date-time
          nullable: true
        lookupErrorCode:
          type: string
        lookupErrorMessage:
          type: string
    GameInstanceRuntimeStateDto:
      type: object
      properties:
        tenantId:
          type: integer
        gameInstanceId:
          type: integer
        runtimeVersionId:
          type: string
        pinnedScriptPatchVersion:
          type: string
        launchDescriptorId:
          type: string
        status:
          type: string
        versionId:
          type: integer
          nullable: true
        releaseBundleId:
          type: integer
          nullable: true
        versionStateEpoch:
          type: integer
        scriptPatchPinnedAt:
          type: string
          format: date-time
          nullable: true
        scriptPatchPinnedBy:
          type: string
        scriptPatchPinnedReason:
          type: string
        scriptPatchPinnedControlPlaneRequestId:
          type: string
        playableStateScope:
          type: string
        worldSlug:
          type: string
        realmSlug:
          type: string
        pointerVersion:
          type: integer
          nullable: true
        publication:
          $ref: '#/components/schemas/ScriptPatchPublicationLinkDto'
        regionId:
          type: string
        regionEpoch:
          type: integer
        currentAdmissionPointers:
          type: array
          items:
            $ref: '#/components/schemas/AdmissionPointerDto'
    PinnedScriptPatchVersionDto:
      type: object
      properties:
        pinnedScriptPatchVersion:
          type: string
        pinnedAt:
          type: string
          format: date-time
          nullable: true
        pinnedBy:
          type: string
        controlPlaneRequestId:
          type: string
        publication:
          $ref: '#/components/schemas/ScriptPatchPublicationLinkDto'
    GameSessionPinConvergenceDto:
      type: object
      properties:
        tenantId:
          type: integer
        gameInstanceId:
          type: integer
        observedPinnedScriptPatchVersion:
          type: string
        lastObservedControlPlaneRequestId:
          type: string
        observedAt:
          type: string
          format: date-time
          nullable: true
        stale:
          type: boolean
        publication:
          $ref: '#/components/schemas/ScriptPatchPublicationLinkDto'
    TickRemediationRequest:
      type: object
      properties:
        tenantId:
          type: integer
        gameInstanceId:
          type: string
          nullable: true
        regionId:
          type: string
          nullable: true
        reason:
          type: string
          nullable: true
      required: [tenantId]
    TickRemediationActionDto:
      type: object
      properties:
        tenantId:
          type: integer
        scopeType:
          type: string
        scopeId:
          type: string
        action:
          type: string
        actorPrincipal:
          type: string
        reason:
          type: string
    RuntimeOwnershipStatusDto:
      type: object
      properties:
        tenantId:
          type: integer
        gameInstanceId:
          type: integer
        regionEpoch:
          type: integer
        executorFence:
          type: string
        ownerService:
          type: string
        ownerInstanceId:
          type: string
        paused:
          type: boolean
        lastCommittedTickBatchId:
          type: string
        updatedAt:
          type: string
          format: date-time
          nullable: true
        lastCommittedTickId:
          type: integer
        regionId:
          type: string
        pendingGameplayCommandCount:
          type: integer
        dueRemoteFollowupCount:
          type: integer
        oldestDueRemoteFollowupTickId:
          type: integer
        remoteFollowupDrainLagMs:
          type: integer
paths:
  /ping:
    get:
      summary: Health check endpoint
      operationId: ping
      responses:
        '200':
          description: Pong response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseString'
  /command-registry/built-in-aliases/{alias}:
    get:
      summary: Validate one built-in command alias
      operationId: validateBuiltInCommandAlias
      parameters:
        - name: alias
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Built-in command alias validation result
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: '#/components/schemas/ResultStatus'
                  data:
                    $ref: '#/components/schemas/BuiltInCommandAliasValidationDto'
                  error:
                    $ref: '#/components/schemas/ErrorDetail'
  /feature-flags/toggle:
    post:
      summary: Toggle a runtime feature flag
      operationId: toggleFeatureFlag
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ToggleFeatureFlagRequest'
      responses:
        '200':
          description: Updated feature flag
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: '#/components/schemas/ResultStatus'
                  data:
                    $ref: '#/components/schemas/FeatureFlagDto'
                  error:
                    $ref: '#/components/schemas/ErrorDetail'
  /logs/query:
    post:
      summary: Query log events
      operationId: queryLogs
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QueryLogsRequest'
      responses:
        '200':
          description: Matching log lines
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: '#/components/schemas/ResultStatus'
                  data:
                    type: array
                    items:
                      type: string
                  error:
                    $ref: '#/components/schemas/ErrorDetail'
  /moderation/actions:
    post:
      summary: Persist moderation policy input and audit
      description: Persists moderation policy input and audit only. EvaluateModerationPolicy is the separate evaluation contract consumed by enforcement owners.
      operationId: applyModerationAction
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplyModerationActionRequest'
      responses:
        '200':
          description: Persisted moderation policy input and audit
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: '#/components/schemas/ResultStatus'
                  data:
                    $ref: '#/components/schemas/ModerationActionDto'
                  error:
                    $ref: '#/components/schemas/ErrorDetail'
  /sagas:
    get:
      summary: List saga instances
      operationId: listSagas
      responses:
        '200':
          description: Saga instance list
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: '#/components/schemas/ResultStatus'
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/SagaInstanceDto'
                  error:
                    $ref: '#/components/schemas/ErrorDetail'
  /sagas/{id}/steps:
    get:
      summary: List saga steps for an instance
      operationId: listSagaSteps
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Saga step list
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: '#/components/schemas/ResultStatus'
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/SagaStepDto'
                  error:
                    $ref: '#/components/schemas/ErrorDetail'
  /admission-pointers:
    get:
      summary: List visible gameplay admission pointers
      operationId: listAdmissionPointers
      responses:
        '200':
          description: Admission pointer list
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: '#/components/schemas/ResultStatus'
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/AdmissionPointerDto'
                  error:
                    $ref: '#/components/schemas/ErrorDetail'
    post:
      summary: Update a gameplay admission pointer
      operationId: setAdmissionPointer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SetAdmissionPointerRequest'
      responses:
        '200':
          description: Updated admission pointer
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: '#/components/schemas/ResultStatus'
                  data:
                    $ref: '#/components/schemas/AdmissionPointerDto'
                  error:
                    $ref: '#/components/schemas/ErrorDetail'
  /admission-pointers/{tenantId}/{worldSlug}/{realmSlug}/audit:
    get:
      summary: Read admission-pointer audit history
      operationId: listAdmissionPointerAudit
      parameters:
        - name: tenantId
          in: path
          required: true
          schema:
            type: integer
            format: int64
        - name: worldSlug
          in: path
          required: true
          schema:
            type: string
        - name: realmSlug
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Admission pointer audit history
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: '#/components/schemas/ResultStatus'
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/AdmissionPointerDto'
                  error:
                    $ref: '#/components/schemas/ErrorDetail'
  /admission-pointers/runtime-state/{tenantId}/{gameInstanceId}:
    get:
      summary: Read canonical current runtime state
      operationId: getAdmissionPointerRuntimeState
      parameters:
        - name: tenantId
          in: path
          required: true
          schema:
            type: integer
            format: int64
        - name: gameInstanceId
          in: path
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: Current runtime state and current admission pointers
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: '#/components/schemas/ResultStatus'
                  data:
                    $ref: '#/components/schemas/GameInstanceRuntimeStateDto'
                  error:
                    $ref: '#/components/schemas/ErrorDetail'
  /admission-pointers/cutover:
    post:
      summary: Execute a prepared version cutover
      operationId: executePreparedVersionCutover
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExecutePreparedVersionCutoverRequest'
      responses:
        '200':
          description: Updated admission pointer after cutover
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: '#/components/schemas/ResultStatus'
                  data:
                    $ref: '#/components/schemas/AdmissionPointerDto'
                  error:
                    $ref: '#/components/schemas/ErrorDetail'
  /admission-pointers/version-upgrades:
    post:
      summary: Prepare a version-upgrade compatibility proof
      operationId: prepareVersionUpgrade
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PrepareVersionUpgradeRequest'
      responses:
        '200':
          description: Prepared version-upgrade proof
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: '#/components/schemas/ResultStatus'
                  data:
                    $ref: '#/components/schemas/PreparedVersionUpgradeDto'
                  error:
                    $ref: '#/components/schemas/ErrorDetail'
  /admission-pointers/version-upgrades/{tenantId}/{preparationId}:
    get:
      summary: Read a prepared version-upgrade proof
      operationId: getPreparedVersionUpgrade
      parameters:
        - name: tenantId
          in: path
          required: true
          schema:
            type: integer
        - name: preparationId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Prepared version-upgrade proof
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: '#/components/schemas/ResultStatus'
                  data:
                    $ref: '#/components/schemas/PreparedVersionUpgradeDto'
                  error:
                    $ref: '#/components/schemas/ErrorDetail'
  /admission-pointers/version-upgrades/{tenantId}/{sourceGameInstanceId}/compatibility/{targetVersionId}:
    get:
      summary: Read version cutover compatibility for one source instance and target version
      operationId: validateInstanceCutoverCompatibility
      parameters:
        - name: tenantId
          in: path
          required: true
          schema:
            type: integer
        - name: sourceGameInstanceId
          in: path
          required: true
          schema:
            type: integer
        - name: targetVersionId
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Version cutover compatibility proof
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: '#/components/schemas/ResultStatus'
                  data:
                    $ref: '#/components/schemas/InstanceCutoverCompatibilityDto'
                  error:
                    $ref: '#/components/schemas/ErrorDetail'
  /game-session-pins/{tenantId}/{gameInstanceId}:
    get:
      summary: Read current pinned script patch version
      operationId: getPinnedScriptPatchVersion
      parameters:
        - name: tenantId
          in: path
          required: true
          schema:
            type: integer
            format: int64
        - name: gameInstanceId
          in: path
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: Current pinned script patch version and publication metadata
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: '#/components/schemas/ResultStatus'
                  data:
                    $ref: '#/components/schemas/PinnedScriptPatchVersionDto'
                  error:
                    $ref: '#/components/schemas/ErrorDetail'
  /game-session-pins/{tenantId}/{gameInstanceId}/convergence:
    get:
      summary: Read persisted Game Session pin convergence
      operationId: getGameSessionPinConvergence
      parameters:
        - name: tenantId
          in: path
          required: true
          schema:
            type: integer
            format: int64
        - name: gameInstanceId
          in: path
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: Persisted Game Session pin convergence state
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: '#/components/schemas/ResultStatus'
                  data:
                    $ref: '#/components/schemas/GameSessionPinConvergenceDto'
                  error:
                    $ref: '#/components/schemas/ErrorDetail'
  /gameplay-commands/{tenantId}/{gameInstanceId}/{commandId}:
    get:
      summary: Read canonical gameplay command status by tenant and game-qualified command id
      operationId: getGameplayCommandStatus
      parameters:
        - name: tenantId
          in: path
          required: true
          schema:
            type: integer
            format: int64
        - name: gameInstanceId
          in: path
          required: true
          schema:
            type: integer
            format: int64
        - name: commandId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Canonical gameplay command status and current routing/runtime context
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: '#/components/schemas/ResultStatus'
                  data:
                    $ref: '#/components/schemas/GameplayCommandStatusDto'
                  error:
                    $ref: '#/components/schemas/ErrorDetail'
  /remote-command-coordinators/{tenantId}/{coordinatorId}:
    get:
      summary: Read canonical remote command coordinator by tenant-qualified coordinator id
      operationId: getRemoteCommandCoordinator
      parameters:
        - name: tenantId
          in: path
          required: true
          schema:
            type: integer
            format: int64
        - name: coordinatorId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Canonical remote command coordinator state and current runtime context
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: '#/components/schemas/ResultStatus'
                  data:
                    $ref: '#/components/schemas/RemoteCommandCoordinatorDto'
                  error:
                    $ref: '#/components/schemas/ErrorDetail'
  /remote-command-coordinators/{tenantId}:
    get:
      summary: List canonical remote command coordinators with bounded filters
      operationId: listRemoteCommandCoordinators
      parameters:
        - name: tenantId
          in: path
          required: true
          schema:
            type: integer
            format: int64
        - name: originGameInstanceId
          in: query
          required: false
          schema:
            type: string
        - name: originRegionId
          in: query
          required: false
          schema:
            type: string
        - name: targetGameInstanceId
          in: query
          required: false
          schema:
            type: string
        - name: targetRegionId
          in: query
          required: false
          schema:
            type: string
        - name: state
          in: query
          required: false
          schema:
            type: string
        - name: followupId
          in: query
          required: false
          schema:
            type: string
        - name: commandId
          in: query
          required: false
          schema:
            type: string
        - name: limit
          in: query
          required: false
          schema:
            type: integer
      responses:
        '200':
          description: Matching remote command coordinators
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: '#/components/schemas/ResultStatus'
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/RemoteCommandCoordinatorDto'
                  error:
                    $ref: '#/components/schemas/ErrorDetail'
  /remote-followups/{tenantId}/{followupId}:
    get:
      summary: Read canonical remote followup by tenant-qualified followup id
      operationId: getRemoteFollowup
      parameters:
        - name: tenantId
          in: path
          required: true
          schema:
            type: integer
            format: int64
        - name: followupId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Canonical remote followup state and current runtime context
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: '#/components/schemas/ResultStatus'
                  data:
                    $ref: '#/components/schemas/RemoteFollowupDto'
                  error:
                    $ref: '#/components/schemas/ErrorDetail'
  /remote-followups/{tenantId}:
    get:
      summary: List canonical remote followups with durable control-plane filters
      operationId: listRemoteFollowups
      parameters:
        - name: tenantId
          in: path
          required: true
          schema:
            type: integer
            format: int64
        - name: targetRegionId
          in: query
          required: false
          schema:
            type: string
        - name: status
          in: query
          required: false
          schema:
            type: string
        - name: originGameInstanceId
          in: query
          required: false
          schema:
            type: string
        - name: originRegionId
          in: query
          required: false
          schema:
            type: string
        - name: targetGameInstanceId
          in: query
          required: false
          schema:
            type: string
        - name: targetRegionEpoch
          in: query
          required: false
          schema:
            type: integer
        - name: followupId
          in: query
          required: false
          schema:
            type: string
        - name: scriptId
          in: query
          required: false
          schema:
            type: string
        - name: pluginId
          in: query
          required: false
          schema:
            type: string
        - name: automationDispatchId
          in: query
          required: false
          schema:
            type: string
        - name: commandId
          in: query
          required: false
          schema:
            type: string
        - name: limit
          in: query
          required: false
          schema:
            type: integer
        - name: originRegionEpoch
          in: query
          required: false
          schema:
            type: integer
        - name: scriptPatchVersion
          in: query
          required: false
          schema:
            type: string
        - name: pluginVersionId
          in: query
          required: false
          schema:
            type: string
        - name: playableStateScope
          in: query
          required: false
          schema:
            type: string
        - name: worldSlug
          in: query
          required: false
          schema:
            type: string
        - name: realmSlug
          in: query
          required: false
          schema:
            type: string
        - name: pointerVersion
          in: query
          required: false
          schema:
            type: integer
        - name: payloadKind
          in: query
          required: false
          schema:
            type: string
        - name: originSourceKind
          in: query
          required: false
          schema:
            type: string
        - name: automationWorkItemId
          in: query
          required: false
          schema:
            type: string
        - name: targetEntityId
          in: query
          required: false
          schema:
            type: string
        - name: effectKey
          in: query
          required: false
          schema:
            type: string
        - name: failureCode
          in: query
          required: false
          schema:
            type: string
        - name: requiresSoloTick
          in: query
          required: false
          schema:
            type: boolean
        - name: eventType
          in: query
          required: false
          schema:
            type: string
        - name: scriptEventId
          in: query
          required: false
          schema:
            type: string
        - name: targetCommandId
          in: query
          required: false
          schema:
            type: string
        - name: targetCommandExecutionOutcome
          in: query
          required: false
          schema:
            type: string
        - name: targetCommandGameplayResult
          in: query
          required: false
          schema:
            type: string
        - name: claimedTickBatchId
          in: query
          required: false
          schema:
            type: string
        - name: requestedCommand
          in: query
          required: false
          schema:
            type: string
        - name: originSourceState
          in: query
          required: false
          schema:
            type: string
        - name: originDeadlineRegionEpoch
          in: query
          required: false
          schema:
            type: integer
        - name: originDeadlineTickId
          in: query
          required: false
          schema:
            type: integer
        - name: lateResultPolicy
          in: query
          required: false
          schema:
            type: string
        - name: claimTargetAggregate
          in: query
          required: false
          schema:
            type: string
        - name: currentOriginRuntimeRegionId
          in: query
          required: false
          schema:
            type: string
        - name: currentOriginRuntimeRegionEpoch
          in: query
          required: false
          schema:
            type: integer
        - name: currentTargetRuntimeRegionId
          in: query
          required: false
          schema:
            type: string
        - name: currentTargetRuntimeRegionEpoch
          in: query
          required: false
          schema:
            type: integer
        - name: queueSourceKind
          in: query
          required: false
          schema:
            type: string
        - name: queueSourceState
          in: query
          required: false
          schema:
            type: string
        - name: queueSourceOrdinal
          in: query
          required: false
          schema:
            type: integer
        - name: queueSourceDueTickId
          in: query
          required: false
          schema:
            type: integer
        - name: queueSourceDueAtMs
          in: query
          required: false
          schema:
            type: integer
        - name: currentOriginRuntimeGameInstanceId
          in: query
          required: false
          schema:
            type: string
        - name: currentTargetRuntimeGameInstanceId
          in: query
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Matching remote followups
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: '#/components/schemas/ResultStatus'
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/RemoteFollowupDto'
                  error:
                    $ref: '#/components/schemas/ErrorDetail'
  /remote-followup-results/{tenantId}/{resultId}:
    get:
      summary: Read canonical remote followup result by tenant-qualified result id
      operationId: getRemoteFollowupResult
      parameters:
        - name: tenantId
          in: path
          required: true
          schema:
            type: integer
            format: int64
        - name: resultId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Canonical remote followup result state and current runtime context
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: '#/components/schemas/ResultStatus'
                  data:
                    $ref: '#/components/schemas/RemoteFollowupResultDto'
                  error:
                    $ref: '#/components/schemas/ErrorDetail'
  /remote-followup-results/{tenantId}:
    get:
      summary: List canonical remote followup results with durable control-plane filters
      operationId: listRemoteFollowupResults
      parameters:
        - name: tenantId
          in: path
          required: true
          schema:
            type: integer
            format: int64
        - name: coordinatorId
          in: query
          required: false
          schema:
            type: string
        - name: followupId
          in: query
          required: false
          schema:
            type: string
        - name: originRegionId
          in: query
          required: false
          schema:
            type: string
        - name: targetRegionId
          in: query
          required: false
          schema:
            type: string
        - name: outcome
          in: query
          required: false
          schema:
            type: string
        - name: scriptId
          in: query
          required: false
          schema:
            type: string
        - name: pluginId
          in: query
          required: false
          schema:
            type: string
        - name: automationDispatchId
          in: query
          required: false
          schema:
            type: string
        - name: commandId
          in: query
          required: false
          schema:
            type: string
        - name: limit
          in: query
          required: false
          schema:
            type: integer
        - name: originGameInstanceId
          in: query
          required: false
          schema:
            type: string
        - name: targetGameInstanceId
          in: query
          required: false
          schema:
            type: string
        - name: originRegionEpoch
          in: query
          required: false
          schema:
            type: integer
        - name: targetRegionEpoch
          in: query
          required: false
          schema:
            type: integer
        - name: scriptPatchVersion
          in: query
          required: false
          schema:
            type: string
        - name: pluginVersionId
          in: query
          required: false
          schema:
            type: string
        - name: playableStateScope
          in: query
          required: false
          schema:
            type: string
        - name: worldSlug
          in: query
          required: false
          schema:
            type: string
        - name: realmSlug
          in: query
          required: false
          schema:
            type: string
        - name: pointerVersion
          in: query
          required: false
          schema:
            type: integer
        - name: resultErrorCode
          in: query
          required: false
          schema:
            type: string
        - name: automationWorkItemId
          in: query
          required: false
          schema:
            type: string
        - name: resultCommandId
          in: query
          required: false
          schema:
            type: string
        - name: resultCommandExecutionOutcome
          in: query
          required: false
          schema:
            type: string
        - name: resultCommandGameplayResult
          in: query
          required: false
          schema:
            type: string
        - name: targetEntityId
          in: query
          required: false
          schema:
            type: string
        - name: effectKey
          in: query
          required: false
          schema:
            type: string
        - name: failureCode
          in: query
          required: false
          schema:
            type: string
        - name: payloadKind
          in: query
          required: false
          schema:
            type: string
        - name: originSourceKind
          in: query
          required: false
          schema:
            type: string
        - name: eventType
          in: query
          required: false
          schema:
            type: string
        - name: scriptEventId
          in: query
          required: false
          schema:
            type: string
        - name: resultMessage
          in: query
          required: false
          schema:
            type: string
        - name: requiresSoloTick
          in: query
          required: false
          schema:
            type: boolean
        - name: originSourceState
          in: query
          required: false
          schema:
            type: string
        - name: lateResultPolicy
          in: query
          required: false
          schema:
            type: string
        - name: claimedTickBatchId
          in: query
          required: false
          schema:
            type: string
        - name: claimTargetAggregate
          in: query
          required: false
          schema:
            type: string
        - name: currentOriginRuntimeRegionId
          in: query
          required: false
          schema:
            type: string
        - name: currentOriginRuntimeRegionEpoch
          in: query
          required: false
          schema:
            type: integer
        - name: currentTargetRuntimeRegionId
          in: query
          required: false
          schema:
            type: string
        - name: currentTargetRuntimeRegionEpoch
          in: query
          required: false
          schema:
            type: integer
        - name: queueSourceKind
          in: query
          required: false
          schema:
            type: string
        - name: queueSourceState
          in: query
          required: false
          schema:
            type: string
        - name: queueSourceOrdinal
          in: query
          required: false
          schema:
            type: integer
        - name: queueSourceDueTickId
          in: query
          required: false
          schema:
            type: integer
        - name: queueSourceDueAtMs
          in: query
          required: false
          schema:
            type: integer
        - name: currentOriginRuntimeGameInstanceId
          in: query
          required: false
          schema:
            type: string
        - name: currentTargetRuntimeGameInstanceId
          in: query
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Matching remote followup results
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: '#/components/schemas/ResultStatus'
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/RemoteFollowupResultDto'
                  error:
                    $ref: '#/components/schemas/ErrorDetail'
  /tick-remediation/pause:
    post:
      summary: Pause ticks for one scoped runtime target
      operationId: pauseTicksForScope
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TickRemediationRequest'
      responses:
        '200':
          description: Tick pause request accepted and forwarded
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: '#/components/schemas/ResultStatus'
                  data:
                    $ref: '#/components/schemas/TickRemediationActionDto'
                  error:
                    $ref: '#/components/schemas/ErrorDetail'
  /tick-remediation/status/{tenantId}:
    get:
      summary: Read durable runtime ownership status
      operationId: getRuntimeOwnershipStatus
      parameters:
        - name: tenantId
          in: path
          required: true
          schema:
            type: integer
            format: int64
        - name: gameInstanceId
          in: query
          required: false
          schema:
            type: string
        - name: regionId
          in: query
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Current runtime ownership and backlog status
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: '#/components/schemas/ResultStatus'
                  data:
                    $ref: '#/components/schemas/RuntimeOwnershipStatusDto'
                  error:
                    $ref: '#/components/schemas/ErrorDetail'
  /tick-remediation/resume:
    post:
      summary: Resume ticks for one scoped runtime target
      operationId: resumeTicksForScope
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TickRemediationRequest'
      responses:
        '200':
          description: Tick resume request accepted and forwarded
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: '#/components/schemas/ResultStatus'
                  data:
                    $ref: '#/components/schemas/TickRemediationActionDto'
                  error:
                    $ref: '#/components/schemas/ErrorDetail'
