openapi: 3.0.3
info:
  title: Account Service API
  description: >-
    API for user accounts and authentication. The obsolete caller-asserted
    POST /accounts/{accountId}/external route is removed and denied at the
    public edge; no provider-linking route is available until the
    server-verified global-account flow and its proof converge.
  version: 1.0.0
  license:
    name: PolyForm Noncommercial License 1.0.0
    url: https://polyformproject.org/licenses/noncommercial/1.0.0
servers:
  - url: https://api.firemud.com
security:
  - bearerAuth: []
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  schemas:
    CreateAccountRequest:
      type: object
      description: Creates a global account. Tenant membership and profiles are established separately.
      properties:
        username:
          type: string
        email:
          type: string
        password:
          type: string
      required: [username, email, password]
    AccountDto:
      type: object
      properties:
        id:
          type: integer
        username:
          type: string
        email:
          type: string
        role:
          type: string
    AccountLoginAuthModesDto:
      type: object
      required: [loginAuthModes]
      properties:
        loginAuthModes:
          type: array
          minItems: 1
          maxItems: 2
          items:
            type: string
            enum: [PASSWORD, EMAIL_OTP]
    UpdateAccountLoginAuthModesRequest:
      type: object
      required: [loginAuthModes]
      properties:
        loginAuthModes:
          type: array
          minItems: 1
          maxItems: 2
          items:
            type: string
            enum: [PASSWORD, EMAIL_OTP]
    LoginRequest:
      type: object
      properties:
        username:
          type: string
          maxLength: 50
        password:
          type: string
          minLength: 1
          maxLength: 100
      required: [username, password]
    PlayerBootstrapRequest:
      type: object
      properties:
        accountIdentifier:
          type: string
          minLength: 1
          maxLength: 254
          pattern: '.*\S.*'
        secret:
          type: string
          minLength: 6
          maxLength: 100
          pattern: '.*\S.*'
      required: [accountIdentifier, secret]
    AuthenticationResult:
      type: object
      properties:
        accountId:
          type: integer
        authToken:
          type: string
    PlayerBootstrapResult:
      type: object
      properties:
        accountId:
          type: integer
        bootstrapToken:
          type: string
        issuedAt:
          type: string
        expiresAt:
          type: string
    ConnectTokenRequest:
      type: object
      properties:
        connectScopeId:
          type: string
        requestId:
          type: string
      required: [connectScopeId, requestId]
    JoinPublicProductionRequest:
      type: object
      properties:
        connectScopeId:
          type: string
          description: Account-issued, caller-bound realm discovery scope
        requestId:
          type: string
          description: Stable ID for this explicit join attempt; use a new ID for a new attempt
      required: [connectScopeId, requestId]
    JoinPublicProductionResult:
      type: object
      properties:
        success:
          type: boolean
        outcomeCode:
          type: string
        accountId:
          type: integer
        tenantId:
          type: integer
        membershipId:
          type: integer
        membershipVersion:
          type: integer
        membershipAuthorityGeneration:
          type: integer
        replayed:
          type: boolean
    ConnectTokenResponse:
      type: object
      properties:
        accountId:
          type: integer
        tenantId:
          type: integer
        gameInstanceId:
          type: integer
        realmSlug:
          type: string
        connectScopeId:
          type: string
        jti:
          type: string
        requestId:
          type: string
        issuedAt:
          type: string
        expiresAt:
          type: string
        replayed:
          type: boolean
    BootstrapWorldDto:
      type: object
      properties:
        worldSlug:
          type: string
        displayName:
          type: string
    BootstrapRealmDto:
      type: object
      required: [worldSlug, realmSlug, realmId]
      properties:
        worldSlug:
          type: string
        realmSlug:
          type: string
        realmId:
          type: string
          format: uuid
        displayName:
          type: string
        tenantId:
          type: integer
        gameInstanceId:
          type: integer
        pointerVersion:
          type: integer
        requiresCharacterSelection:
          type: boolean
        evaluatedAt:
          type: string
        connectScopeExpiresAt:
          type: string
        connectScopeId:
          type: string
    BootstrapCharacterDto:
      type: object
      properties:
        characterId:
          type: string
        characterName:
          type: string
        level:
          type: integer
    ResultStatus:
      type: string
      enum: [SUCCESS, ERROR]
    ErrorDetail:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
    ProfileDto:
      type: object
      properties:
        id:
          type: integer
        tenantId:
          type: string
        accountId:
          type: string
        displayName:
          type: string
        bio:
          type: string
    UpdateProfileRequest:
      type: object
      properties:
        tenantId:
          type: string
        accountId:
          type: string
        displayName:
          type: string
        bio:
          type: string
      required: [tenantId, accountId]
    PasswordResetRequest:
      type: object
      properties:
        email:
          type: string
      required: [email]
    CompletePasswordResetRequest:
      type: object
      properties:
        token:
          type: string
        newPassword:
          type: string
      required: [token, newPassword]
    UsernameRecoveryRequest:
      type: object
      properties:
        email:
          type: string
      required: [email]
    EmailVerificationRequest:
      type: object
      properties:
        email:
          type: string
      required: [email]
    VerifyEmailRequest:
      type: object
      properties:
        token:
          type: string
      required: [token]
paths:
  /ping:
    get:
      summary: Health check endpoint
      operationId: ping
      security: []
      responses:
        '200':
          description: Pong response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: string
              example:
                data: pong
        '400':
          description: Bad request
  /auth/login:
    post:
      summary: Authenticate and return JWT
      operationId: login
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
      responses:
        '200':
          description: Authentication result
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: '#/components/schemas/ResultStatus'
                  data:
                    $ref: '#/components/schemas/AuthenticationResult'
                  error:
                    $ref: '#/components/schemas/ErrorDetail'
        '400':
          description: Invalid credentials
  /auth/player-bootstrap:
    post:
      summary: Authenticate and return a short-lived first-party bootstrap token
      operationId: playerBootstrap
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PlayerBootstrapRequest'
      responses:
        '200':
          description: Bootstrap result
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: '#/components/schemas/ResultStatus'
                  data:
                    $ref: '#/components/schemas/PlayerBootstrapResult'
                  error:
                    $ref: '#/components/schemas/ErrorDetail'
        '400':
          description: Invalid credentials
  /auth/bootstrap/worlds:
    get:
      summary: List caller-visible worlds for first-party gameplay bootstrap
      operationId: listBootstrapWorlds
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Visible worlds
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: '#/components/schemas/ResultStatus'
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/BootstrapWorldDto'
                  error:
                    $ref: '#/components/schemas/ErrorDetail'
        '401':
          description: Invalid or expired bootstrap token
  /auth/bootstrap/worlds/{worldSlug}/realms:
    get:
      summary: List caller-visible realms for a selected world
      operationId: listBootstrapRealms
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: worldSlug
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Visible realms
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: '#/components/schemas/ResultStatus'
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/BootstrapRealmDto'
                  error:
                    $ref: '#/components/schemas/ErrorDetail'
        '401':
          description: Invalid or expired bootstrap token
  /auth/bootstrap/worlds/{worldSlug}/realms/{realmSlug}/characters:
    get:
      summary: List caller-visible characters for a selected world and realm
      operationId: listBootstrapCharacters
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: worldSlug
          required: true
          schema:
            type: string
        - in: path
          name: realmSlug
          required: true
          schema:
            type: string
        - in: query
          name: connectScopeId
          required: true
          description: Opaque signed target proof returned by realm discovery
          schema:
            type: string
            minLength: 1
      responses:
        '200':
          description: Visible characters
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: '#/components/schemas/ResultStatus'
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/BootstrapCharacterDto'
                  error:
                    $ref: '#/components/schemas/ErrorDetail'
        '401':
          description: Invalid or expired bootstrap token
  /auth/bootstrap/join:
    post:
      summary: Explicitly join the selected public-production realm from a player-bootstrap scope
      operationId: joinPublicProduction
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JoinPublicProductionRequest'
      responses:
        '200':
          description: Durable membership snapshot after a successful join or exact replay
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: '#/components/schemas/ResultStatus'
                  data:
                    $ref: '#/components/schemas/JoinPublicProductionResult'
                  error:
                    $ref: '#/components/schemas/ErrorDetail'
        '401':
          description: Scope, policy, or membership state denied the join
        '503':
          description: Required authority is unavailable; retry with the same attempt ID
  /auth/connect-token:
    post:
      summary: Mint a short-lived gameplay connect token from a valid player-bootstrap token
      operationId: connectToken
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConnectTokenRequest'
      responses:
        '200':
          description: Connect token metadata; the token is carried only by the HttpOnly cookie
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: '#/components/schemas/ResultStatus'
                  data:
                    $ref: '#/components/schemas/ConnectTokenResponse'
                  error:
                    $ref: '#/components/schemas/ErrorDetail'
        '401':
          description: Invalid or expired bootstrap token
  /auth/request-password-reset:
    post:
      summary: Request password reset
      operationId: requestPasswordReset
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PasswordResetRequest'
      responses:
        '200':
          description: Request accepted
        '400':
          description: Invalid request
  /auth/complete-password-reset:
    post:
      summary: Complete password reset
      operationId: completePasswordReset
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CompletePasswordResetRequest'
      responses:
        '200':
          description: Password updated
        '400':
          description: Invalid token
  /auth/request-email-verification:
    post:
      summary: Request email verification
      operationId: requestEmailVerification
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmailVerificationRequest'
      responses:
        '200':
          description: Request accepted
        '400':
          description: Invalid request
  /auth/verify-email:
    post:
      summary: Verify email token
      operationId: verifyEmail
      description: >-
        Target state is a public token-verification endpoint. In the current
        deployment the POST route is not in the public-route allowlist and
        therefore requires bearer authentication; the allowlisted GET route
        has no controller mapping. Do not treat this operation as publicly
        reachable until the HTTP configuration and link handoff converge.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VerifyEmailRequest'
      responses:
        '200':
          description: Email verified
        '400':
          description: Invalid verification token
  /auth/recover-username:
    post:
      summary: Send username reminder
      operationId: recoverUsername
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UsernameRecoveryRequest'
      responses:
        '200':
          description: Email sent
        '400':
          description: Invalid request
  /accounts:
    post:
      summary: Create a new global account
      operationId: createAccount
      description: Registration creates global account and security state only; it does not join a tenant or create a profile.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAccountRequest'
      responses:
        '200':
          description: Account created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountDto'
        '400':
          description: Invalid account data
        '409':
          description: Username or canonical email already exists
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: '#/components/schemas/ResultStatus'
                  data:
                    type: object
                    nullable: true
                  error:
                    $ref: '#/components/schemas/ErrorDetail'
  /accounts/{accountId}/export:
    get:
      summary: Export full account data across tenants
      operationId: exportAccount
      parameters:
        - name: accountId
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Exported data
        '400':
          description: Invalid account ID
  /accounts/{accountId}/login-auth-modes:
    get:
      summary: Get allowed primary login mechanisms for an account
      operationId: getLoginAuthModes
      parameters:
        - name: accountId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Allowed login mechanisms
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountLoginAuthModesDto'
        '400':
          description: Invalid account ID or authentication-mode data
        '403':
          description: Account access required
    put:
      summary: Replace allowed primary login mechanisms for an account (currently unavailable)
      operationId: updateLoginAuthModes
      parameters:
        - name: accountId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateAccountLoginAuthModesRequest'
      responses:
        '200':
          description: Updated allowed login mechanisms
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountLoginAuthModesDto'
        '400':
          description: Invalid account ID, login mechanism set, or unverified email-OTP selection
        '403':
          description: Account access required
        '501':
          description: Recent ordinary reauthentication is required, but this mutation is unavailable until Account implements its evidence mechanism
  /accounts/{accountId}/tenant-export:
    get:
      summary: Export tenant-scoped account data
      operationId: exportTenantData
      parameters:
        - name: accountId
          in: path
          required: true
          schema:
            type: integer
        - name: tenantId
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Exported tenant data
        '400':
          description: Invalid account or tenant ID
  /accounts/{accountId}:
    delete:
      summary: Delete global account after billing preconditions pass
      operationId: deleteAccount
      parameters:
        - name: accountId
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Deletion success
        '400':
          description: Invalid account ID
  /profiles/{accountId}:
    get:
      summary: Get profile
      operationId: getProfile
      parameters:
        - name: accountId
          in: path
          required: true
          schema:
            type: integer
        - name: tenantId
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Profile data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProfileDto'
        '400':
          description: Account not found
    put:
      summary: Update profile
      operationId: updateProfile
      parameters:
        - name: accountId
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateProfileRequest'
      responses:
        '200':
          description: Updated profile
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProfileDto'
        '400':
          description: Invalid profile data
  /.well-known/jwks.json:
    get:
      summary: JWKS public keys
      operationId: jwks
      security: []
      responses:
        '200':
          description: JSON Web Key Set
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad request
