openapi: 3.0.3
info:
  title: Account Service API
  description: API for user accounts and authentication
  version: 1.0.0
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
servers:
  - url: https://api.firemud.com
security: []
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  schemas:
    CreateAccountRequest:
      type: object
      properties:
        username:
          type: string
        email:
          type: string
        password:
          type: string
      required: [username, email, password]
    AccountDto:
      type: object
      properties:
        id:
          type: integer
        tenantId:
          type: string
        username:
          type: string
        email:
          type: string
        role:
          type: string
    LoginRequest:
      type: object
      properties:
        tenantId:
          type: string
        username:
          type: string
        password:
          type: string
        otp:
          type: string
      required: [tenantId, username, password]
    AuthenticationResult:
      type: object
      properties:
        accountId:
          type: integer
        authToken:
          type: string
    PlayerBootstrapResult:
      type: object
      properties:
        accountId:
          type: integer
        bootstrapToken:
          type: string
        issuedAt:
          type: string
        expiresAt:
          type: string
    ConnectTokenRequest:
      type: object
      properties:
        connectScopeId:
          type: string
        tenantId:
          type: string
        gameInstanceId:
          type: string
        realmSlug:
          type: string
        requestId:
          type: string
      required: [connectScopeId, tenantId, gameInstanceId]
    ConnectTokenResult:
      type: object
      properties:
        accountId:
          type: integer
        tenantId:
          type: integer
        gameInstanceId:
          type: integer
        realmSlug:
          type: string
        connectScopeId:
          type: string
        connectToken:
          type: string
        jti:
          type: string
        issuedAt:
          type: string
        expiresAt:
          type: string
    ResultStatus:
      type: string
      enum: [SUCCESS, ERROR]
    ErrorDetail:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
    ProfileDto:
      type: object
      properties:
        id:
          type: integer
        tenantId:
          type: string
        accountId:
          type: string
        displayName:
          type: string
        bio:
          type: string
    UpdateProfileRequest:
      type: object
      properties:
        tenantId:
          type: string
        accountId:
          type: string
        displayName:
          type: string
        bio:
          type: string
      required: [tenantId, accountId]
    PasswordResetRequest:
      type: object
      properties:
        tenantId:
          type: string
        email:
          type: string
      required: [tenantId, email]
    CompletePasswordResetRequest:
      type: object
      properties:
        tenantId:
          type: string
        token:
          type: string
        newPassword:
          type: string
      required: [tenantId, token, newPassword]
    UsernameRecoveryRequest:
      type: object
      properties:
        tenantId:
          type: string
        email:
          type: string
      required: [tenantId, email]
    LinkExternalAccountRequest:
      type: object
      properties:
        tenantId:
          type: string
        provider:
          type: string
        externalId:
          type: string
      required: [tenantId, provider, externalId]
    AccountRefRequest:
      type: object
      properties:
        tenantId:
          type: string
        accountId:
          type: string
      required: [tenantId, accountId]
    VerifyEmailRequest:
      type: object
      properties:
        tenantId:
          type: string
        token:
          type: string
      required: [tenantId, token]
paths:
  /ping:
    get:
      summary: Health check endpoint
      operationId: ping
      responses:
        '200':
          description: Pong response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: string
              example:
                data: pong
        '400':
          description: Bad request
  /auth/login:
    post:
      summary: Authenticate and return JWT
      operationId: login
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
      responses:
        '200':
          description: Authentication result
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: '#/components/schemas/ResultStatus'
                  data:
                    $ref: '#/components/schemas/AuthenticationResult'
                  error:
                    $ref: '#/components/schemas/ErrorDetail'
        '400':
          description: Invalid credentials
  /auth/player-bootstrap:
    post:
      summary: Authenticate and return a short-lived first-party bootstrap token
      operationId: playerBootstrap
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
      responses:
        '200':
          description: Bootstrap result
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: '#/components/schemas/ResultStatus'
                  data:
                    $ref: '#/components/schemas/PlayerBootstrapResult'
                  error:
                    $ref: '#/components/schemas/ErrorDetail'
        '400':
          description: Invalid credentials
  /auth/connect-token:
    post:
      summary: Mint a short-lived gameplay connect token from a valid player-bootstrap token
      operationId: connectToken
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConnectTokenRequest'
      responses:
        '200':
          description: Connect token result
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: '#/components/schemas/ResultStatus'
                  data:
                    $ref: '#/components/schemas/ConnectTokenResult'
                  error:
                    $ref: '#/components/schemas/ErrorDetail'
        '401':
          description: Invalid or expired bootstrap token
  /auth/request-password-reset:
    post:
      summary: Request password reset
      operationId: requestPasswordReset
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PasswordResetRequest'
      responses:
        '200':
          description: Request accepted
        '400':
          description: Invalid request
  /auth/complete-password-reset:
    post:
      summary: Complete password reset
      operationId: completePasswordReset
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CompletePasswordResetRequest'
      responses:
        '200':
          description: Password updated
        '400':
          description: Invalid token
  /auth/request-email-verification:
    post:
      summary: Request email verification
      operationId: requestEmailVerification
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountRefRequest'
      responses:
        '200':
          description: Request accepted
        '400':
          description: Invalid request
  /auth/verify-email:
    post:
      summary: Verify email token
      operationId: verifyEmail
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VerifyEmailRequest'
      responses:
        '200':
          description: Email verified
        '400':
          description: Invalid verification token
  /auth/recover-username:
    post:
      summary: Send username reminder
      operationId: recoverUsername
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UsernameRecoveryRequest'
      responses:
        '200':
          description: Email sent
        '400':
          description: Invalid request
  /accounts:
    post:
      summary: Create a new account
      operationId: createAccount
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAccountRequest'
      responses:
        '200':
          description: Account created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountDto'
        '400':
          description: Invalid account data
  /accounts/{accountId}/export:
    get:
      summary: Export account data
      operationId: exportAccount
      parameters:
        - name: accountId
          in: path
          required: true
          schema:
            type: integer
        - name: tenantId
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Exported data
        '400':
          description: Invalid account ID
  /accounts/{accountId}/external:
    post:
      summary: Link external account
      operationId: linkExternalAccount
      parameters:
        - name: accountId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LinkExternalAccountRequest'
      responses:
        '200':
          description: Linked
        '400':
          description: Invalid account or external data
  /accounts/{accountId}:
    delete:
      summary: Delete account
      operationId: deleteAccount
      parameters:
        - name: accountId
          in: path
          required: true
          schema:
            type: integer
        - name: tenantId
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Deletion success
        '400':
          description: Invalid account ID
  /profiles/{accountId}:
    get:
      summary: Get profile
      operationId: getProfile
      parameters:
        - name: accountId
          in: path
          required: true
          schema:
            type: integer
        - name: tenantId
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Profile data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProfileDto'
        '400':
          description: Account not found
    put:
      summary: Update profile
      operationId: updateProfile
      parameters:
        - name: accountId
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateProfileRequest'
      responses:
        '200':
          description: Updated profile
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProfileDto'
        '400':
          description: Invalid profile data
  /.well-known/jwks.json:
    get:
      summary: JWKS public keys
      operationId: jwks
      responses:
        '200':
          description: JSON Web Key Set
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad request
