openapi: 3.0.3
info:
  title: Automation Scripting Service API
  description: API for NPC automation and script management
  version: 1.0.0
  license:
    name: PolyForm Noncommercial License 1.0.0
    url: https://polyformproject.org/licenses/noncommercial/1.0.0
servers:
  - url: https://api.firemud.com
security: []
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  schemas:
    ReputationResponse:
      type: object
      properties:
        data:
          type: integer
          example: 10
    CreateFormationRequest:
      type: object
      properties:
        tenantId:
          type: string
        name:
          type: string
        leaderNpcId:
          type: integer
        formationType:
          type: string
      required:
        - tenantId
        - name
        - leaderNpcId
        - formationType
    LongListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            type: integer
paths:
  /ping:
    get:
      summary: Health check endpoint
      operationId: ping
      responses:
        '200':
          description: Pong response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: string
              example:
                data: pong
        '400':
          description: Bad request
  /factions/{id}/reputation:
    patch:
      summary: Adjust player reputation for a faction
      operationId: adjustFactionReputation
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
        - name: tenantId
          in: query
          required: true
          schema:
            type: integer
        - name: characterId
          in: query
          required: true
          schema:
            type: integer
        - name: gameInstanceId
          in: query
          required: true
          schema:
            type: string
        - name: playableStateScope
          in: query
          required: true
          schema:
            type: string
            enum:
              - PLAYABLE_STATE_SCOPE_SHARED
              - PLAYABLE_STATE_SCOPE_ISOLATED
        - name: delta
          in: query
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: New reputation value
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReputationResponse'
        '400':
          description: Invalid reputation update
  /formations:
    post:
      summary: Create a new NPC formation
      operationId: createFormation
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateFormationRequest'
      responses:
        '200':
          description: Formation identifier
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: integer
                    example: 1
        '400':
          description: Invalid formation data
  /formations/{id}/members:
    post:
      summary: Add a member to a formation
      operationId: addFormationMember
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
        - name: npcId
          in: query
          required: true
          schema:
            type: integer
        - name: tenantId
          in: query
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Member added
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: boolean
                    example: true
        '400':
          description: Invalid member data
    get:
      summary: List members of a formation
      operationId: listFormationMembers
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
        - name: tenantId
          in: query
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: List of NPC IDs
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LongListResponse'
        '400':
          description: Invalid formation ID
