openapi: 3.0.3
info:
  title: Automation Scripting Service API
  description: API for NPC automation and script management
  version: 1.0.0
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
servers:
  - url: https://api.firemud.com
security: []
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  schemas:
    ScriptDefinitionDto:
      type: object
      properties:
        id:
          type: integer
        tenantId:
          type: integer
        name:
          type: string
        version:
          type: string
        definition:
          type: string
    CreateScriptRequest:
      type: object
      properties:
        tenantId:
          type: integer
        name:
          type: string
        version:
          type: string
        definition:
          type: string
      required:
        - tenantId
        - name
        - version
        - definition
    FactionDto:
      type: object
      properties:
        id:
          type: integer
        tenantId:
          type: integer
        name:
          type: string
        description:
          type: string
    ReputationResponse:
      type: object
      properties:
        data:
          type: integer
          example: 10
paths:
  /ping:
    get:
      summary: Health check endpoint
      operationId: ping
      responses:
        '200':
          description: Pong response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: string
              example:
                data: pong
  /factions/{id}/reputation:
    patch:
      summary: Adjust player reputation for a faction
      operationId: adjustFactionReputation
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
        - name: playerId
          in: query
          required: true
          schema:
            type: integer
        - name: delta
          in: query
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: New reputation value
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReputationResponse'
