openapi: 3.0.3
info:
  title: Spring Cloud Gateway API
  description: >-
    Current REST route mutations require a Bearer JWT accepted by the gateway's
    privileged-role predicate, which currently accepts global or tenant-scoped
    privileged roles; global-role-only enforcement is implementation drift.
    The target management contract requires exact operator authentication and
    global privileged authorization on an internal dev/test-only surface.
  version: 1.0.0
  license:
    name: PolyForm Noncommercial License 1.0.0
    url: https://polyformproject.org/licenses/noncommercial/1.0.0
servers:
  - url: https://api.firemud.com
security:
  - bearerAuth: []
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  schemas:
    GatewayRoute:
      type: object
      properties:
        routeId:
          type: string
        uri:
          type: string
        predicates:
          type: array
          items:
            type: string
        filters:
          type: array
          items:
            type: string
paths:
  /ping:
    get:
      summary: Health check
      operationId: ping
      security: []
      responses:
        '200':
          description: Pong response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: string
                    example: pong
        '400':
          description: Bad request
  /routes:
    post:
      summary: Add or update a gateway route
      operationId: upsertRoute
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GatewayRoute'
      responses:
        '200':
          description: Route added or updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/GatewayRoute'
        '400':
          description: Invalid route configuration
        '401':
          description: Missing or invalid Bearer JWT
        '403':
          description: Caller lacks a privileged role under the current predicate
  /routes/{routeId}:
    delete:
      summary: Remove a gateway route
      operationId: removeRoute
      parameters:
        - name: routeId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Route removed
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: string
                    example: removed
        '400':
          description: Invalid route ID
        '401':
          description: Missing or invalid Bearer JWT
        '403':
          description: Caller lacks a privileged role under the current predicate
