openapi: 3.0.3
info:
  title: Spring Cloud Gateway API
  description: |
    API for gateway health and dev/test-only dynamic route management.

    The `/routes` operations are exposed only when
    `firemud.gateway.dynamic-routes.enabled=true` with exclusively active
    `dev` or `test` Spring profiles. Disabled configuration exposes no
    mutation routes. If mutation is explicitly enabled while any unsupported
    profile is active, startup fails rather than exposing those routes. This
    static document lists the conditional operations for enabled instances;
    `/ping` remains publicly accessible.
  version: 1.0.0
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
servers:
  - url: https://api.firemud.com
security:
  - bearerAuth: []
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  schemas:
    GatewayRoute:
      type: object
      properties:
        routeId:
          type: string
        uri:
          type: string
        predicates:
          type: array
          items:
            type: string
        filters:
          type: array
          items:
            type: string
paths:
  /ping:
    get:
      summary: Health check
      operationId: ping
      security: []
      responses:
        '200':
          description: Pong response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: string
                    example: pong
        '400':
          description: Bad request
  /routes:
    post:
      summary: Add or update a gateway route
      description: Available only in an enabled `dev` or `test` instance.
      operationId: upsertRoute
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GatewayRoute'
      responses:
        '200':
          description: Route added or updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/GatewayRoute'
        '400':
          description: Invalid route configuration
  /routes/{routeId}:
    delete:
      summary: Remove a gateway route
      description: Available only in an enabled `dev` or `test` instance.
      operationId: removeRoute
      parameters:
        - name: routeId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Route removed
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: string
                    example: removed
        '400':
          description: Invalid route ID
