openapi: 3.0.3
info:
  title: Game Session Service API
  description: API for managing active game sessions
  version: 1.0.0
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
servers:
  - url: https://api.firemud.com
security: []
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  schemas:
    StartSessionRequest:
      type: object
      properties:
        tenantId:
          type: string
        gameTemplateId:
          type: string
        controlPlaneRequestId:
          type: string
        ownerAccountId:
          type: integer
        clientIp:
          type: string
      required:
        - tenantId
        - gameTemplateId
        - controlPlaneRequestId
        - ownerAccountId
    GameInstanceDto:
      type: object
      properties:
        id:
          type: integer
        tenantId:
          type: string
        runtimeVersion:
          type: string
        gameTemplateId:
          type: string
        launchDescriptorId:
          type: string
        versionId:
          type: string
        releaseBundleId:
          type: string
        versionStateEpoch:
          type: string
        generationConfigRevision:
          type: string
        ownerAccountId:
          type: integer
        status:
          type: string
paths:
  /ping:
    get:
      summary: Health check endpoint
      operationId: ping
      responses:
        '200':
          description: Pong response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: string
                    example: pong
        '400':
          description: Invalid request
  /sessions:
    post:
      summary: Start a new game session
      operationId: startSession
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StartSessionRequest'
      responses:
        '200':
          description: Game instance details
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/GameInstanceDto'
        '400':
          description: Invalid request
  /sessions/{sessionId}/stop:
    post:
      summary: Stop a running session
      operationId: stopSession
      parameters:
        - in: path
          name: sessionId
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Stopped session
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/GameInstanceDto'
        '400':
          description: Invalid session ID
  /sessions/{sessionId}/restart:
    post:
      summary: Restart a stopped session
      operationId: restartSession
      parameters:
        - in: path
          name: sessionId
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Restarted session
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/GameInstanceDto'
        '400':
          description: Invalid session ID
